__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
.DS_Store
*.log
/data/bronze/*
/data/silver/*
/data/gold/*
!/data/**/.gitkeep

prevision_energie.db

backups/

